/02-tours/node_modules
/03-reviews/node_modules
/04-accordion/node_modules
/05-menu/node_modules
/06-tabs/node_modules
/07-slider/node_modules
/08-lorem-ipsum/node_modules
/09-color-generator/node_modules
/10-grocery-bud/node_modules
/11-navbar/node_modules